.container-create-character{
  position: absolute;
  left: 45%;
  top: 30%;
  width: 40%;
  height: 50%;
  background-color: var(--background-secondary);
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0px #dddddd;
}
.container-create-character__title{
  text-align: center;
}