.container-create-character{
  position: absolute;
  left: 51%;
  top: 30%;
  width: 21%;
  height: 54%;
  background-color: var(--background-secondary);
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0px #dddddd;
}
.container-create-character__title{
  text-align: center;
  margin: 50px;
  font-size: 20px;
  color: var(--background-primary);
  font-weight: bolder;
}